<script lang="ts">
import Vue from "vue"
import { Component, Prop } from "vue-property-decorator"
import { DiceColor } from "@/components/dice/diceTypes"
import SvgIcon from "@/components/SvgIcon.vue"
import Dice from "./DiceType.vue"

@Component({
  components: {
    Dice,
    SvgIcon,
  },
})
export default class DiceResult extends Vue {
  @Prop({ required: true }) color!: DiceColor
  @Prop({ required: true }) rolls!: number[]
  @Prop({ default: false }) negativeBonus!: boolean
}
</script>

<template>
  <div class="diceResult">
    <Dice
      v-for="(result, index) in rolls"
      v-bind:key="'result-' + color + index"
      :color="color"
      :value="result"
      :class="['dice-icon', result === 6 && negativeBonus && 'negative-bonus']"
    />
  </div>
</template>

<style lang="less" scoped>
.dice-icon {
  height: 3rem;
  width: 3rem;
}

.negative-bonus {
  fill: #68233a;
}
</style>
