@pastel-green: #42b983;
@pastel-red: #db7093;
@slate-black: #2c3e50;

/*
* TODO: Replace all instances of 'pastel-green' and 'pastel-red' with
* 'color-main' & 'color-danger'
*/
@background-color: white; // TODO: remove
@pastel-green-transparent: ~"@{pastel-green}99"; // TODO: Remove

@color-background: white;
@color-text: @slate-black;
@color-main: #42b983;
@color-main-transparent: ~"@{color-main}99";
@color-danger: #db7093;
@color-danger-transparent: ~"@{color-danger}99";
@color-warning: #ffb347;
@color-warning-transparent: ~"@{color-warning}99";

// z-index
@z-notifications: 9000;
@z-navbar: @z-navbar-0;
@z-navbar-0: 1000;
@z-navbar-1: 1001;
@z-navbar-2: 1002;
@z-navbar-3: 1003;
@z-modal: 2000;

// shadows
@box-shadow-normal: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 1px -1px rgba(0, 0, 0, 0.08);
@box-shadow-strong: 0px 1px 3px 0px rgba(0, 0, 0, 0.5),
  0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 1px -1px rgba(0, 0, 0, 0.08);
