.capitalize {
  text-transform: capitalize;
}

.capitalize-first {
  display: inline-block;
  &::first-letter {
    text-transform: capitalize;
  }
}

.small-caps {
  font-variant-caps: small-caps;
}

.text {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.font {
  &-s,
  &-small {
    font-size: 0.875rem;
  }
  &-xs {
    font-size: 0.6rem;
  }
}
