<script lang="ts">
import Vue from "vue"
import { Component, Prop, Watch } from "vue-property-decorator"

import { FLButton } from "@/components/base/FLButton.vue"
import { CharData } from "@/data/character/characterData"
import { Item } from "@/data/items/itemTypes"
import ModalConfirm from "@/components/ModalConfirm.vue"
import { GearTable } from "@/components/gear/GearTable.vue"
import { GearRowDetail } from "@/components/gear/GearRowDetail.vue"
import { ModalEditItem } from "src/components/gear/item/ModalEditItem.vue"
import { ModalAddItem } from "src/components/gear/item/ModalAddItem.vue"

import { iconFor, equippable } from "./util"

@Component({
  components: {
    FLButton,
    GearRowDetail,
    GearTable,
    ModalAddItem,
    ModalEditItem,
    ModalConfirm,
  },
})
export class GearInventory extends Vue {
  @Prop({ default: null }) charData!: CharData
  @Prop({ default: false }) viewOnly!: boolean
  @Prop({ default: false }) mountInventory!: boolean

  showAddItemModal = false
  showConfirmDeleteItem = false
  activeEditItem: Item | null = null

  iconFor = iconFor
  equippable = equippable

  get inventory() {
    if (this.mountInventory) {
      return this.charData.mount.inventory
    }
    return this.charData.gear.inventory
  }
  set inventory(newInventory: Item[]) {
    if (this.mountInventory) {
      this.charData.mount.inventory = newInventory
    } else {
      this.charData.gear.inventory = newInventory
    }
  }
  get otherInventory() {
    if (this.mountInventory) {
      return this.charData.gear.inventory
    }
    return this.charData.mount.inventory
  }

  get backpack() {
    return this.inventory.filter((i) => !i.equipped)
  }

  get itemsSelected() {
    return this.inventory.filter((item) => !!item.selected).length > 0
  }

  get moveItemsDisabled() {
    return (
      this.viewOnly ||
      !this.itemsSelected ||
      (!this.mountInventory && !this.hasMount)
    )
  }

  get hasMount(): boolean {
    return !!this.charData.mount.strength && !!this.charData.mount.name
  }

  addItem(item: Item) {
    this.inventory.push(item)
    this.showAddItemModal = false
  }

  moveItems() {
    let newInventory: Item[] = []
    for (let item of this.inventory) {
      if (item.selected) {
        this.otherInventory.push({ ...item, selected: false })
      } else {
        newInventory.push(item)
      }
    }
    this.inventory = newInventory
  }

  dropItems() {
    const newInventory = this.inventory.filter((item) => !item.selected)
    this.inventory = newInventory
    this.showConfirmDeleteItem = false
  }

  get deleteItemsBody() {
    const items = this.inventory
      .filter((item) => item.selected)
      .map((item) => item.name)
      .join(", ")
    return `${this.$t("Drop")} ${items}?`
  }

  handleClickItem(item: Item) {
    if (!item || !!this.viewOnly) return
    this.activeEditItem = item
  }

  updateItem(updatedItem: Item) {
    const newInventory = this.inventory.map((mitem) => {
      if (mitem.id !== updatedItem.id) return mitem
      return updatedItem
    })
    this.inventory = newInventory
    this.activeEditItem = null
  }
}

export default GearInventory
</script>

<template>
  <div class="Box-GearInventory">
    <h4>{{ mountInventory ? $t("Carried by mount") : $t("Inventory") }}</h4>
    <GearTable>
      <tbody>
        <tr v-for="(item, index) in backpack" v-bind:key="item.name + index">
          <td>
            <input
              type="checkbox"
              v-model="item.selected"
              :disabled="viewOnly"
            />
          </td>
          <td @click="handleClickItem(item)" class="clickable-cell name-cell">
            <GearRowDetail :item="item" />
          </td>
        </tr>
      </tbody>
    </GearTable>

    <div v-if="!viewOnly" class="inv-button-row">
      <FLButton
        v-if="inventory.length"
        type="danger"
        :disabled="!itemsSelected"
        @click="showConfirmDeleteItem = true"
      >
        {{ $t("Drop") }}
      </FLButton>
      <FLButton
        v-if="inventory.length"
        :disabled="moveItemsDisabled"
        @click="moveItems"
      >
        {{ !mountInventory ? $t("Move to mount") : $t("Move to backpack") }}
      </FLButton>
      <FLButton @click="showAddItemModal = true">
        {{ $t("Add") }}
      </FLButton>
    </div>

    <ModalEditItem
      v-if="activeEditItem"
      @close="activeEditItem = null"
      @save="updateItem"
      :editItem="activeEditItem"
      :title="$t('Edit') + ': ' + activeEditItem.name"
    />

    <ModalAddItem
      v-if="showAddItemModal"
      @close="showAddItemModal = false"
      @add-item="addItem"
      :title="$t('Add item')"
    />

    <ModalConfirm
      v-if="showConfirmDeleteItem"
      :body="deleteItemsBody"
      :confirmAction="dropItems"
      @close="showConfirmDeleteItem = false"
    />
  </div>
</template>

<style lang="less" scoped>
@import "~Style/colors.less";

.Box-GearInventory {
  display: block;

  .empty-cell {
    min-width: 5ch;
    width: 24px;
  }

  .name-cell {
    text-align: left;
  }

  .clickable-cell {
    cursor: pointer;
    &:hover {
      background: @color-main;
    }
  }

  .bonus-cell {
    width: 6ch;
  }
}

.inv-button-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 0.5rem 0;
}
</style>
