<script lang="ts">
import Vue from "vue"
import { Component, Prop, Watch } from "vue-property-decorator"

import { CharData } from "@/data/character/characterData"
import { PROFESSION } from "@/classes"

@Component({
  components: {},
})
export class GearStarting extends Vue {
  @Prop({ default: null }) charData!: CharData

  PROFESSION = PROFESSION
  get currentProfession() {
    return this.charData.profession
  }
  get startingSilver() {
    if (!this.currentProfession) return 0
    const silver = PROFESSION[this.currentProfession].starting_resources.silver
    if (typeof silver === "number") {
      return `${this.$t("D")}${silver}`
    }
    return `${silver.nbr}${this.$t("D")}${silver.sides}`
  }
  get gearDescription() {
    if (!this.currentProfession) return ``
    return this.$t(PROFESSION[this.currentProfession].gear_description)
  }
}

export default GearStarting
</script>

<template>
  <div v-if="charData.metadata.status === 'new'" class="Box-GearStarting">
    <h4>{{ $t("Starting gear") }}</h4>
    <div v-if="charData.metadata.startingItems">
      <p
        v-for="item in charData.metadata.startingItems.split('\n')"
        v-bind:key="item"
      >
        ✣ {{ item }}
      </p>
    </div>
    <div v-else>
      {{ gearDescription }}
    </div>
    <p>
      Silver:
      {{ startingSilver + " (" + $t("Roll dice before session starts") + ")" }}
    </p>
  </div>
</template>

<style lang="less" scoped>
@import "~Style/colors.less";

.Box-GearStarting {
  display: block;
}
</style>
