<script lang="ts">
import Vue from "vue"

import { Component, Prop } from "vue-property-decorator"
import { CharData } from "@/data/character/characterData"
import { GearStarting } from "@/components/gear/GearStarting.vue"
import { GearConsumables } from "@/components/gear/GearConsumables.vue"
import { GearMoney } from "@/components/gear/GearMoney.vue"
import { GearBackpack } from "@/components/gear/GearBackpack.vue"
import { GearEquipped } from "@/components/gear/GearEquipped.vue"
import { GearEncumbrance } from "src/components/gear/GearEncumbrance.vue"

@Component({
  components: {
    GearStarting,
    GearConsumables,
    GearEncumbrance,
    GearMoney,
    GearBackpack,
    GearEquipped,
  },
})
export default class GearPicker extends Vue {
  @Prop({ required: true }) charData!: CharData
  @Prop({ default: false }) viewOnly!: boolean
}
</script>

<template>
  <div v-if="charData.profession" class="gear-picker">
    <!-- start -->
    <GearStarting :charData="charData" />

    <!-- TODO: Look into using flex or grid instead of tables -->
    <div class="inventory">
      <GearEquipped
        v-if="charData.metadata.status !== 'new'"
        class="equipped"
        :charData="charData"
      />

      <GearBackpack
        :charData="charData"
        :viewOnly="viewOnly"
        class="other-gear"
      />
    </div>

    <div class="inventory">
      <GearConsumables
        :charData="charData"
        :viewOnly="viewOnly"
        class="spacing-top"
      />

      <GearMoney
        :charData="charData"
        :viewOnly="viewOnly"
        class="spacing-top"
        style="display: inline-flex;"
      />
    </div>

    <GearEncumbrance :charData="charData" class="encumbrance" />
  </div>
</template>

<style lang="less" scoped>
@import "~Style/colors.less";
h4 {
  text-align: left;
}

.inventory {
  display: flex;
  flex-direction: column;

  @media (min-width: 700px) {
    .equipped {
      margin-left: 1rem;
    }
    flex-direction: row-reverse;
    > * {
      flex: 1 0 45%;
    }
  }
}

.encumbrance {
  margin: 1rem auto;
  text-align: center;
}

.spacing-top {
  margin-top: 1rem;
  padding-top: 5px;
}
</style>
