<script lang="ts">
// TODO: Look into http://youmightnotneedjs.com/#tabs for tabs
import Vue from "vue"
import { Component, Prop } from "vue-property-decorator"

import Modal from "@/components/Modal.vue"
import FLButton from "@/components/base/FLButton.vue"
import FLInput from "@/components/base/FLInput.vue"
import { FLSelect, Option } from "@/components/base/FLSelect.vue"
import {
  Item,
  ItemWeapon,
  ITEM_TYPE,
  WEAPON_CATEGORY,
} from "@/data/items/itemTypes"
import ItemTemplatePicker from "@/components/gear/ItemTemplatePicker.vue"
import FLNumberInput from "@/components/base/FLNumberInput.vue"
import TabBar from "@/components/base/TabBar.vue"
import { DiceSides, DiceTypes } from "@/types"

/** A form handler for an Item.
 *  NB: The item will be mutated by this component, so make sure to send in a
 *  copy if appropriate */
@Component({
  components: {
    FLButton,
    FLInput,
    FLNumberInput,
    FLSelect,
    ItemTemplatePicker,
    Modal,
    TabBar,
  },
})
export class ItemForm extends Vue {
  @Prop() item!: Item

  get isWeapon(): boolean {
    return this.item.type === "weapon"
  }

  weaponCategories: (Option & { id: WEAPON_CATEGORY })[] = [
    { id: WEAPON_CATEGORY.axe },
    { id: WEAPON_CATEGORY.blunt },
    { id: WEAPON_CATEGORY.knife },
    { id: WEAPON_CATEGORY.polearm },
    { id: WEAPON_CATEGORY.sword },
    { id: WEAPON_CATEGORY.bow },
    { id: WEAPON_CATEGORY.crossbow },
    { id: WEAPON_CATEGORY.thrown },
  ]

  changeItemType(t: ITEM_TYPE) {
    if (t === ITEM_TYPE.weapon) {
      ;(this.item as ItemWeapon).features = {}
    }
    this.item.type = t
  }

  pageFor(itemType: string) {
    const loc = this.$i18n.locale
    if (itemType === "weapon") {
      return loc === "se" ? "98+" : "101+"
    }
    if (itemType === "armor") {
      return loc === "se" ? "103" : "106"
    }
    if (itemType === "helmet") {
      return loc === "se" ? "103" : "106"
    }
    if (itemType === "shield") {
      return loc === "se" ? "102" : "106"
    }
    if (itemType === "other") {
      return loc === "se" ? "176+" : "182+"
    }
    return "?"
  }

  get artifactDiceOptions(): Option[] {
    return [
      { id: 0 },
      { id: 8, name: String(this.$t("D")) + 8 },
      { id: 10, name: String(this.$t("D")) + 10 },
      { id: 12, name: String(this.$t("D")) + 12 },
    ]
  }

  get artifactDice(): DiceSides {
    return this.item?.artifactDice?.[0]?.sides || 0
  }

  onChangeArtifact(s: string) {
    const n = Number(s)
    if (![12, 10, 8].includes(n)) {
      this.item.artifactDice = []
      return
    }
    const sides: DiceSides = n as DiceSides
    const color: DiceTypes = n === 12 ? "orange" : n === 10 ? "blue" : "green"
    this.item.artifactDice = [{ sides, color, nbrDice: 1 }]
  }
}

export default ItemForm
</script>

<template>
  <div class="new-item-form">
    <label for="gear-name">{{ $t("Name") }}</label>
    <input id="gear-name" type="text" v-model="item.name" placeholder="???" />

    <label for="gear-type">{{ $t("Type") }}</label>
    <select
      id="gear-type"
      :value="item.type"
      @input="(e) => changeItemType(e.target.value)"
    >
      <option disabled value="">{{ $t("Choose") }}</option>
      <option value="armor">{{ $t("Armor") }}</option>
      <option value="helmet">{{ $t("Helmet") }}</option>
      <option value="shield">{{ $t("Shield") }}</option>
      <option value="weapon">{{ $t("Weapon") }}</option>
      <option value="other">{{ $t("Other") }}</option>
    </select>

    <div v-if="isWeapon" class="contents">
      <label for="gear-type" class="capitalize-first">
        {{ $t("category") }}
      </label>
      <FLSelect
        v-model="item.category"
        :options="weaponCategories"
        :translateOptions="true"
        :fullWidth="true"
      />
    </div>

    <label for="gear-weight">{{ $t("Weight") }}</label>
    <select v-model.number="item.weight">
      <option disabled value="">{{ $t("Choose") }}</option>
      <option :value="0">{{ $t("Tiny") }}</option>
      <option :value="0.5">{{ $t("Light") }}</option>
      <option :value="1">Normal</option>
      <option :value="2">{{ $t("Heavy") }}</option>
    </select>

    <label for="gear-bonus">Bonus</label>
    <FLNumberInput
      v-model.number="item.bonus"
      min="0"
      max="99"
      fontSize="1.7rem"
    />

    <label v-if="isWeapon" for="gear-damage">{{ $t("Damage") }}</label>
    <FLNumberInput
      v-if="isWeapon"
      v-model.number="item.damage"
      fontSize="1.7rem"
      min="0"
      max="99"
    />

    <div v-if="isWeapon" class="contents">
      <label class="capitalize" for="gear-bonus">
        {{ $t("artifact") }}
      </label>
      <FLSelect
        :options="artifactDiceOptions"
        :value="artifactDice"
        @input="onChangeArtifact"
      />
    </div>

    <label v-if="isWeapon" for="gear-range">{{ $t("Range") }}</label>
    <select v-model.number="item.range" v-if="isWeapon" class="capitalize">
      <option disabled value="">{{ $t("Choose") }}</option>
      <option class="capitalize" value="0">
        {{ $t("Armslength") }}
      </option>
      <option class="capitalize" value="1">{{ $t("Near") }}</option>
      <option class="capitalize" value="2">{{ $t("Short") }}</option>
      <option class="capitalize" value="3">{{ $t("Long") }}</option>
    </select>

    <label v-if="isWeapon" for="weapon-features">
      {{ $t("Features") }}
    </label>
    <div v-if="isWeapon" id="weapon-features" class="grid-features">
      <div class="flex">
        <input
          v-model="item.features.blunt"
          type="checkbox"
          name="blunt"
          id="blunt"
        />
        <label class="capitalize" for="blunt">{{ $t("blunt") }}</label>
      </div>
      <div class="flex">
        <input
          type="checkbox"
          name="pointed"
          id="pointed"
          v-model="item.features.pointed"
        />
        <label class="capitalize" for="pointed">{{ $t("pointed") }}</label>
      </div>
      <div class="flex">
        <input
          type="checkbox"
          name="edged"
          id="edged"
          v-model="item.features.edged"
        />
        <label class="capitalize" for="edged">{{ $t("edged") }}</label>
      </div>
      <div class="flex">
        <input
          type="checkbox"
          name="parrying"
          id="parrying"
          v-model="item.features.parrying"
        />
        <label class="capitalize" for="parrying">
          {{ $t("parrying") }}
        </label>
      </div>
      <div class="flex">
        <input
          type="checkbox"
          name="hook"
          id="hook"
          v-model="item.features.hook"
        />
        <label class="capitalize" for="hook">{{ $t("hook") }}</label>
      </div>
      <div class="flex">
        <input
          type="checkbox"
          name="slow_loading"
          id="slow_loading"
          v-model="item.features.slow_loading"
        />
        <label class="capitalize" for="slow_loading">
          {{ $t("slow_loading") }}
        </label>
      </div>
    </div>

    <label for="gear-comment">{{ $t("Comment") }}</label>
    <input type="text" v-model="item.comment" />

    <div v-if="item.type" class="grid-row-full">
      <h4>Info</h4>
      <div>
        {{ $t("PHB_ref", { page: pageFor(item.type) }) }}
      </div>
    </div>

    <!-- End Item View -->
  </div>
</template>

<style lang="less" scoped>
@import "~Style/colors.less";
.flex {
  display: flex;
}

.grid-features {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(13ch, 1fr));
  display: flex;
  flex-wrap: wrap;
  > div {
    flex: 1 0 26%;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
.grid-row-full {
  grid-column-start: 1;
  grid-column-end: -1;
}

.modal-body {
  overflow: auto;
  text-align: left;
  max-width: 70rem;
  padding: 1rem;
  margin: 1rem auto;
}

.new-item-form {
  display: grid;
  grid-template-columns: auto 1fr;
  // grid-template-columns: 100px 1fr auto 1fr;
  // grid-template-columns: repeat(
  //   auto-fill,
  //   minmax(80px, 100px) minmax(200px, 2fr)
  // );
  grid-gap: 1rem;
  align-items: center;
}

.modal-button-row {
  border-top: solid @pastel-green 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.inventory-modal {
  margin: 0 auto;
}

.contents {
  display: contents;
}
</style>
