<script lang="ts">
import { Component, Vue } from "vue-property-decorator"

import { FLSelect } from "@/components/base/FLSelect.vue"
import { SET_PAGE_TITLE } from "@/store/store-types"
import { langOptions, messages, TSupportedLocales } from "src/i18n"
import { LocaleMessageObject } from "vue-i18n"

@Component({
  components: { FLSelect },
})
export class TranslationsView extends Vue {
  base: TSupportedLocales = "en"
  compare: TSupportedLocales = "de"
  copyButtonText = "Copy"

  get options() {
    return langOptions
  }
  mounted() {
    this.$store.commit(SET_PAGE_TITLE, {
      title: "Translations",
      translate: false,
    })
  }

  missingKeys(base: LocaleMessageObject, translation: LocaleMessageObject) {
    const missing = Object.entries(base)
      .filter(([k, v]) => !!k && !translation[k])
      .map((tuple) => [
        tuple[0],
        // Coercing to a string here might break, but I can't be bothered with
        // figuring out a correct way to handle this in TS:
        String(tuple[1])
          .trim()
          .replace(/\s\s+/g, " "),
      ])
    return missing
  }

  missingToObj(missing: string[][]) {
    return Object.fromEntries(missing)
  }

  getObj(key: TSupportedLocales) {
    const obj = messages[key]
    if (!obj) {
      throw TypeError(`Invalid translations key: ${key}`)
    }
    return obj
  }

  async copyMissing() {
    function sleep(ms: number) {
      return new Promise((resolve) => setTimeout(resolve, ms))
    }
    navigator.clipboard.writeText(this.missingText).then(
      /* clipboard successfully set */
      () => {
        this.copyButtonText = "Copied ☑"
      },
      /* clipboard write failed */
      () => {
        this.copyButtonText = "Copy failed :("
      }
    )
    await sleep(5000)
    this.copyButtonText = "Copy"
  }

  get missing() {
    const baseObj = this.getObj(this.base)
    const compareObj = this.getObj(this.compare)
    return this.missingKeys(baseObj, compareObj)
  }

  get keysMissing() {
    return this.missing.length
  }

  get missingText() {
    // return this.missingToObj(this.missing)
    return JSON.stringify(this.missingToObj(this.missing), null, 2)
  }
}

export default TranslationsView
</script>

<template>
  <div class="translations">
    <div class="compare">
      <FLSelect
        :options="options"
        v-model="compare"
        label="Translation"
        direction="column"
      />
      <FLSelect
        :options="options"
        v-model="base"
        :label="'Base'"
        direction="column"
      />
    </div>

    <div>
      {{ options.find((o) => o.id === compare).name }} is missing
      {{ missing.length }} keys from
      {{ options.find((o) => o.id === base).name }}
      <button v-if="keysMissing" @click="copyMissing">
        {{ copyButtonText }}
      </button>
    </div>

    <div v-if="keysMissing" class="missing-strings">
      <pre>{{ missingText }}</pre>
    </div>
  </div>
</template>

<style lang="less" scoped>
.translations {
  text-align: left;
  padding: 1rem;
}
.compare {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}

.missing-strings {
  display: flex;
  border: 1px solid lightgray;
  overflow: hidden;
  margin: 0.5rem 0;
  padding: 0.5rem;
  & > pre {
    margin: 0;
    overflow: auto;
    white-space: pre-wrap;
  }
}
</style>
