<script lang="ts">
import Vue from "vue"
import { Component, Prop, Watch } from "vue-property-decorator"

import uuid1 from "uuid/v1"
import SvgIcon from "@/components/SvgIcon.vue"

@Component({
  components: {
    SvgIcon,
  },
})
export class FLRangeSlider extends Vue {
  @Prop({ required: true }) value!: number
  @Prop({ required: true }) max!: number
  @Prop({ default: 0 }) min!: number
  @Prop({ default: 1 }) step!: number

  @Prop({ default: "" }) prefix!: string
  @Prop({ default: "" }) suffix!: string
  @Prop({ default: "" }) id!: string

  uuid = uuid1()
  active = false

  get _id(): string {
    return this.id || this.uuid
  }

  get listId(): string {
    return `${this._id}-list`
  }

  inputEvent($event: any) {
    const value = Number($event.target.value)
    this.$emit("input", value)
  }
}

export default FLRangeSlider
</script>

<template>
  <div class="fl-range-input">
    <div class="current">{{ value }}</div>
    <label :for="_id">
      <span>{{ prefix }}</span>
    </label>
    <input
      type="range"
      :id="_id"
      :class="['input', value < max / 2 && 'low', value === 0 && 'zero']"
      @input="inputEvent"
      :value="value"
      :min="min"
      :max="max"
      :step="step"
      :list="listId"
      @mousedown="inputEvent"
      @mouseup="inputEvent"
    />
    <label :for="_id">
      <span>{{ suffix }}</span>
    </label>
    <datalist :id="listId">
      <option v-for="x in max" :key="listId + x">{{ x }}</option>
    </datalist>
  </div>
</template>

<style lang="less" scoped>
@import "~Style/colors.less";

.fl-range-input {
  display: flex;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 8px;
  align-items: center;
  .current {
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    margin-bottom: -5px;
    z-index: 1;
    flex: 1 0 100%;
  }
}

label {
  white-space: nowrap;
  display: inline-block;
}

.track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: @color-main-transparent;
  border-radius: 5px;
}
.thumb {
  -webkit-appearance: none;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid @color-main-transparent;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: @color-main;
  cursor: pointer;
  margin-top: -5px;
}

.input {
  width: 100%;
  box-sizing: border-box;
  // margin: 0 5px;

  @media screen {
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      .track();
    }
    &::-moz-range-track {
      .track();
    }

    &::-moz-range-thumb {
      .thumb();
    }
    &::-webkit-slider-thumb {
      .thumb();
    }

    &.low {
      &::-webkit-slider-runnable-track {
        .track();
        background: @color-warning-transparent;
      }
      &::-moz-range-track {
        .track();
        background: @color-warning-transparent;
      }

      &::-moz-range-thumb {
        .thumb();
        background: @color-warning;
        border: 1px solid @color-warning;
      }
      &::-webkit-slider-thumb {
        .thumb();
        background: @color-warning;
        border: 1px solid @color-warning;
      }
    }

    &.zero {
      &::-webkit-slider-runnable-track {
        .track();
        background: @color-danger-transparent;
      }
      &::-moz-range-track {
        .track();
        background: @color-danger-transparent;
      }

      &::-moz-range-thumb {
        .thumb();
        background: @color-danger;
        border: 1px solid @color-danger;
      }
      &::-webkit-slider-thumb {
        .thumb();
        background: @color-danger;
        border: 1px solid @color-danger;
      }
    }
  }
}
</style>
