<script lang="ts">
import Vue from "vue"
import { Component, Prop, Watch } from "vue-property-decorator"

import {
  GET_PAGE_TITLE,
  GET_PAGE_SUBTITLE,
  GET_MP_ACTIVE,
} from "@/store/store-types"
import SvgIcon from "@/components/SvgIcon.vue"
import IconButton from "@/components/base/IconButton.vue"

@Component({
  components: {
    IconButton,
    SvgIcon,
  },
})
export default class NavBar extends Vue {
  @Prop({ default: false }) showNav!: boolean

  get pageTitle(): string {
    const { title, translate } = this.$store.getters[GET_PAGE_TITLE]
    if (translate) {
      return String(this.$t(title))
    }
    return title
  }

  get pageSubtitle(): string {
    const sub = this.$store.getters[GET_PAGE_SUBTITLE]
    if (sub && this.pageTitle) return ": " + sub
    if (sub && !this.pageTitle) return sub
    return sub
  }

  get showMp(): boolean {
    return this.$store.getters[GET_MP_ACTIVE]
  }
}
</script>

<template>
  <div class="navbar">
    <div class="navbar-left">
      <router-link class="nav-icon" to="/" exact>
        <SvgIcon name="home" title="Home" />
      </router-link>
      <div v-if="showMp" class="nav-icon">
        <router-link class="nav-icon-highlight" to="/multiplayer" exact>
          <SvgIcon name="chat_bubble" title="Multiplayer" />
        </router-link>
      </div>
    </div>

    <div class="navbar-center">
      <header>{{ pageTitle }}{{ pageSubtitle }}</header>
    </div>

    <div class="navbar-right">
      <IconButton
        aria-label="Roll dice"
        @click="$emit('click-dice', $event)"
        style="margin-right: .5rem;"
        height="32px"
        width="32px"
        icon="rolling-dices"
      />

      <IconButton
        aria-label="Toggle menu"
        @click="$emit('click-menu', $event)"
        icon="menu_open"
        class="sidebar-toggle"
      />
    </div>
  </div>
</template>

<style lang="less" scoped>
@import "~Style/colors.less";

.navbar-left {
  flex: 0 0 auto;
  min-width: 0;
  display: flex;
}

.no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.navbar-center {
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar-right {
  flex: 0 0 auto;
  display: flex;
}

.nav-icon {
  text-decoration: none;
  color: @color-text;
  margin: 5px;
}

.nav-icon-highlight {
  color: @color-background;
  &.router-link-active {
    color: @color-text;
  }
}

.navbar {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 5px;
  place-items: center;
  max-width: 100%;

  background: @color-background;
  box-shadow: @box-shadow-normal;
  padding: 3px;

  background: @color-main;
}

.sidebar-toggle {
  @media (min-width: 1024px) {
    display: none;
  }
}
</style>
