<script lang="ts">
import Vue from "vue"
import { Component, Prop, Watch } from "vue-property-decorator"
import { Conditions } from "@/data/character/characterData"

@Component({
  components: {},
})
export default class ConditionInput extends Vue {
  @Prop({ required: true }) conditions!: Conditions
  @Prop({ default: false }) viewOnly!: boolean

  conditionsCopy: Conditions = {
    cold: this.conditions.cold || false,
    starving: this.conditions.starving || false,
    dehydrated: this.conditions.dehydrated || false,
    tired: this.conditions.tired || false,
  }

  emit() {
    this.$emit("input", this.conditionsCopy)
  }
}
</script>

<template>
  <div class="conditions">
    <div class="condition">
      <input
        type="checkbox"
        name="condition-tired"
        id="condition-tired"
        :disabled="viewOnly"
        v-model="conditionsCopy.tired"
        @input="emit"
      />
      <label for="condition-tired">{{ $t("Tired") }}</label>
    </div>

    <div class="condition">
      <input
        type="checkbox"
        name="condition-dehydrated"
        id="condition-dehydrated"
        :disabled="viewOnly"
        v-model="conditionsCopy.dehydrated"
        @input="emit"
      />
      <label for="condition-dehydrated">{{ $t("Dehydrated") }}</label>
    </div>

    <div class="condition">
      <input
        type="checkbox"
        name="condition-starving"
        id="condition-starving"
        :disabled="viewOnly"
        v-model="conditionsCopy.starving"
        @input="emit"
      />
      <label for="condition-starving">{{ $t("Starving") }}</label>
    </div>

    <div class="condition">
      <input
        type="checkbox"
        name="condition-cold"
        id="condition-cold"
        :disabled="viewOnly"
        v-model="conditionsCopy.cold"
        @input="emit"
      />
      <label for="condition-cold">{{ $t("Cold") }}</label>
    </div>
  </div>

  <!-- spacer -->
</template>

<style lang="less" scoped>
@import "~Style/colors.less";
.conditions {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

.condition {
  display: flex;
  align-items: center;
}
</style>
