<script lang="ts">
import Vue from "vue"
import { Component, Prop } from "vue-property-decorator"

import AttributesCreate from "@/components/sheet/attributes/AttributesCreate.vue"
import AttributesActive from "@/components/sheet/attributes/AttributesActive.vue"
import BaseSelector from "@/components/BaseSelector.vue"
import Conditions from "@/components/Conditions.vue"
import Card from "@/components/Card.vue"
import {
  CharacterData,
  validateAttributes,
} from "@/data/character/characterData"
import FLNumberInput from "@/components/base/FLNumberInput.vue"

@Component({
  components: {
    AttributesCreate,
    AttributesActive,
    BaseSelector,
    Card,
    Conditions,
    FLNumberInput,
  },
})
export class PropertiesCard extends Vue {
  @Prop({ required: true }) charData!: CharacterData
  @Prop({ default: false }) viewOnly!: boolean

  get status() {
    return this.charData.metadata.status
  }
  get valid() {
    return validateAttributes(this.charData)
  }
  get saveStateId() {
    if (this.charData.metadata.status !== "active") return ""
    return "card_properties"
  }
  // Attributes
  get attributesEdit(): boolean {
    return ["new", undefined, "freeEdit"].includes(this.status)
  }
  get showCardSign(): boolean {
    const editMode = ["new", undefined, "freeEdit"].includes(this.status)
    if (editMode) return true
    return false
  }
}

export default PropertiesCard
</script>

<template>
  <Card
    :title="$t('properties')"
    :valid="valid"
    :noSign="!showCardSign"
    :saveStateId="saveStateId"
  >
    <div class="state-contents">
      <AttributesCreate
        v-if="attributesEdit"
        :charData="charData"
        :viewOnly="viewOnly"
      />
      <AttributesActive v-else :charData="charData" :viewOnly="viewOnly" />

      <div class="foobar">
        <Conditions
          v-if="status !== 'new'"
          :conditions="this.charData.conditions || {}"
          :viewOnly="viewOnly"
          v-model="charData.conditions"
        />

        <FLNumberInput
          v-if="status !== 'new'"
          :label="$t('Willpower')"
          class="willpower-input"
          fontSize="1.7rem"
          min="0"
          max="10"
          :disabled="viewOnly"
          v-model.number="charData.willpower"
        />
      </div>
    </div>
  </Card>
</template>

<style lang="less" scoped>
.state-contents {
  display: block;
  display: grid;
  gap: 1rem;
}

.foobar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}
</style>
