<script lang="ts">
import DiceActions from "@/components/dice/DiceActions.vue"

import { CharData } from "@/data/character/characterData"
import { Component, Prop, Vue } from "vue-property-decorator"
import { FLNumberInput } from "@/components/base/FLNumberInput.vue"
import { ACTION_ALL, ACTION_FAST } from "@/data/combat/typesCombat"
import { rollDiceType } from "src/dice/diceRoller"

@Component({
  components: {
    DiceActions,
    FLNumberInput,
  },
})
export class DiceCombatFooter extends Vue {
  @Prop({ default: null }) charData!: CharData
  @Prop({ default: false }) canPush!: boolean
  @Prop({ default: true }) canRoll!: boolean
  @Prop({ default: "" }) actionId!: ACTION_ALL | ""

  arrowRoll: number = 6

  get showWillpower() {
    return this.charData && this.charData.willpower !== null
  }

  close() {
    this.$emit("close")
  }

  onWillpower(value: number) {
    this.charData.willpower = value
  }
}
export default DiceCombatFooter
</script>

<template>
  <div>
    <div v-if="showWillpower" class="wp-input">
      <label for="willpower">{{ $t("WP") }}</label>
      <FLNumberInput
        id="willpower"
        fontSize="1.7rem"
        min="0"
        max="10"
        v-model.number="charData.willpower"
      />
    </div>

    <DiceActions
      @roll="$emit('roll')"
      @push="$emit('push')"
      @reset="() => {}"
      @close="close"
      :canRoll="canRoll"
      :canPush="canPush"
      :showClose="true"
      :showReset="false"
    />
  </div>
</template>

<style lang="less" scoped>
.wp-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  bottom: 0px;
  border-top: 1px solid #33333333;
  background: white;
  label {
    font-size: 1.5rem;
    margin-right: 10px;
  }
}
</style>
