<script lang="ts">
/* eslint-disable no-console */
import Vue from "vue"

import Notify from "@/components/base/Notify.vue"
import NavBar from "@/components/base/NavBar.vue"
import DiceModal, { defaultDice } from "@/components/dice/DiceModal.vue"
import { Updater } from "@/components/base/Updater.vue"
import { SideNav } from "src/components/nav/SideNav.vue"
import { LOCALE_KEY } from "@/i18n"
import { getDefaultLocale } from "src/locales/localeUtil"
import { NavContent } from "src/components/nav/NavContent.vue"
import { APP_VERSION } from "src/util/const"

const DEFAULT_DICE_MODAL_CONF = {
  title: "",
  dice: defaultDice(),
  charData: null,
  disablePush: false,
}

export default Vue.extend({
  components: {
    DiceModal,
    NavBar,
    NavContent,
    Notify,
    SideNav,
    Updater,
  },
  data() {
    return {
      buildVersion: APP_VERSION,
      showNav: false,
      showDiceModal: false,
      diceModalConfig: DEFAULT_DICE_MODAL_CONF,
    }
  },
  methods: {
    onOpenDiceModal(args: any) {
      // FIXME: Abstract away the keys for settings this up into separate module
      // FIXME: Enable handling of willpower
      const { title, dice, disablePush, charData = null } = args
      this.diceModalConfig = {
        ...this.diceModalConfig,
        title,
        dice,
        disablePush,
        charData,
      }
      this.showDiceModal = true
    },
    onCloseDiceModal() {
      this.diceModalConfig = DEFAULT_DICE_MODAL_CONF
      this.showDiceModal = false
    },
    addEventListener(name: string) {
      this.$root.$on(name, this.onOpenDiceModal)
    },
    removeEventListener(name: string) {
      this.$root.$off(name)
    },
    useLocale() {
      if (localStorage.getItem(LOCALE_KEY)) {
        return // locale has been set by user
      }
      this.$i18n.locale = getDefaultLocale(navigator.languages)
    },
  },
  created() {
    this.addEventListener("open-dice-modal")
    this.useLocale()
  },
  mounted() {
    const d = document.getElementById("splash-screen")
    d?.classList.toggle("hidden", true)
  },
  beforeDestroy() {
    this.removeEventListener("open-dice-modal")
  },
})
</script>

<template>
  <div id="app">
    <header class="app-header">
      <NavBar
        :showNav="showNav"
        @click-menu="showNav = !showNav"
        @click-dice="showDiceModal = !showDiceModal"
      />
    </header>
    <main class="app-main">
      <Updater />
      <SideNav :visible="showNav" @close="showNav = false" />
      <router-view />
    </main>
    <aside class="app-aside">
      <NavContent />
    </aside>

    <footer class="app-footer">
      <section class="build-version font-xs">
        {{ buildVersion }}
      </section>
    </footer>

    <DiceModal
      v-if="showDiceModal"
      @close="onCloseDiceModal"
      :title="diceModalConfig.title"
      :dice="diceModalConfig.dice"
      :disablePush="diceModalConfig.disablePush"
    />
    <Notify />
  </div>
</template>

<style lang="less">
@import "./App.less";

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "aside footer";

  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}

.app-header {
  grid-area: header;
  z-index: @z-navbar;
  @media only screen and (min-height: 600px) {
    position: sticky;
    top: 0;
  }
  @media print {
    display: none;
  }
}
.app-main {
  max-width: 1024px;
  grid-area: main;
}
.app-aside {
  @media (max-width: 1024px) {
    display: none;
  }
  grid-area: aside;
  position: sticky;
  top: calc(3rem);
  height: calc(100vh - 3rem);

  display: flex;
}

.app-footer {
  grid-area: footer;
}

.build-version {
  text-align: right;
  padding-top: 10px;
}
</style>
