<script lang="ts">
// TODO: Split this up into smaller components
import Vue from "vue"
import { Component, Prop } from "vue-property-decorator"
import {
  ExpandableSection,
  EXPANDER_SLOT,
} from "@/components/ExpandableSection.vue"
import DiceInput from "@/components/dice/DiceInput.vue"
import { DICE_TYPE, IDiceConfig } from "@/dice/diceTypes"

import { DiceConfSummary } from "src/components/diceRoller/DiceConfSummary.vue"

@Component({
  components: {
    DiceInput,
    ExpandableSection,
    DiceConfSummary,
  },
})
export class DiceConfigSection extends Vue {
  @Prop({ default: null }) diceConf!: IDiceConfig

  EXPANDER_SLOT = EXPANDER_SLOT
  DICE_TYPE = DICE_TYPE

  updateDice(color: DICE_TYPE, value: number) {
    this.$emit("update", { ...this.diceConf, [color]: value })
  }
}

export default DiceConfigSection
</script>

<template>
  <ExpandableSection :defaultOpen="true" saveStateId="dice-input">
    <div :slot="EXPANDER_SLOT.header_center" style="font-size: 1rem;">
      {{ $t("Dice") }}
    </div>

    <div :slot="EXPANDER_SLOT.header_right" style="font-size: 1rem;">
      <DiceConfSummary :diceConf="diceConf" />
    </div>

    <div class="dice-input-contents">
      <div class="dice-inputs">
        <DiceInput
          color="white"
          :value="diceConf.white"
          @input="updateDice('white', $event)"
        />
        <DiceInput
          color="red"
          :value="diceConf.red"
          min="-9"
          @input="updateDice('red', $event)"
        />
        <DiceInput
          color="black"
          :value="diceConf.black"
          @input="updateDice('black', $event)"
        />
        <DiceInput
          color="green"
          :value="diceConf.green"
          @input="updateDice('green', $event)"
        />
        <DiceInput
          color="blue"
          :value="diceConf.blue"
          @input="updateDice('blue', $event)"
        />
        <DiceInput
          color="orange"
          :value="diceConf.orange"
          @input="updateDice('orange', $event)"
        />
      </div>
    </div>
  </ExpandableSection>
</template>

<style scoped lang="less">
.dice-roller-view {
  text-align: center;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
}

.dice-inputs {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  grid-row-gap: 0.5rem;
  grid-column-gap: 2rem;
  justify-content: center;
  margin: 1rem auto;
}
</style>
