<script lang="ts">
import Vue from "vue"
import { Component, Prop } from "vue-property-decorator"
import SvgIcon from "@/components/SvgIcon.vue"
import {
  ExpandableSection,
  EXPANDER_SLOT,
} from "@/components/ExpandableSection.vue"
import DiceResult from "@/components/dice/DiceResult.vue"
import { DICE_TYPE, IDiceResult } from "src/dice/diceTypes"

@Component({
  components: {
    DiceResult,
    ExpandableSection,
    SvgIcon,
  },
})
export class DiceRollResultSection extends Vue {
  @Prop({ required: true }) rollResult!: IDiceResult[]
  @Prop({ required: true }) canPush!: boolean

  EXPANDER_SLOT = EXPANDER_SLOT
  DICE_TYPE = DICE_TYPE

  get totalSuccess() {
    return this.rollResult[0].successes
  }

  get totalWhiteSkulls() {
    return this.rollResult[0].failWhite
  }

  get totalBlackSkulls() {
    return this.rollResult[0].failBlack
  }

  get pushed() {
    return this.rollResult.length >= 2
  }

  get rolled() {
    return this.rollResult.length >= 1
  }

  get rollResultLog() {
    const rounds = this.rollResult.map((r) => r.rollLog)
    return rounds
  }

  get negativeBonus() {
    return this.rollResult[0].negativeBonus
  }

  pushRoll() {
    // TODO: Add button inside component to push the roll
  }
}

export default DiceRollResultSection
</script>

<template>
  <!-- Result summary -->
  <ExpandableSection :defaultOpen="true" saveStateId="dice-input">
    <div :slot="EXPANDER_SLOT.header_center" style="font-size: 1rem;">
      Results
    </div>
    <div :slot="EXPANDER_SLOT.header_right" style="font-size: 1rem;">
      <div v-if="rollResult.length > 0" class="result-summary">
        <div :class="['result-summary-item', pushed ? '' : 'transparent']">
          <pre>{{ totalWhiteSkulls }}</pre>
          <SvgIcon name="skulls-1-inverted" class="dice-icon-small" />
        </div>
        <div :class="['result-summary-item', pushed ? '' : 'transparent']">
          <pre>{{ totalBlackSkulls }}</pre>
          <SvgIcon name="skulls-1" class="dice-icon-small dice-black" />
        </div>
        <div class="result-summary-item">
          <pre>{{ totalSuccess }}</pre>
          <SvgIcon name="swords-1-inverted" class="dice-icon-small" />
        </div>
      </div>
    </div>

    <!-- Roll result -->
    <div class="roll-results">
      <div
        v-for="(rolls, index) in rollResultLog"
        v-bind:key="index"
        :class="['roll-result', index !== 0 ? 'transparent' : '']"
      >
        <DiceResult color="white" :rolls="rolls[DICE_TYPE.white]" />
        <DiceResult
          color="red"
          :rolls="rolls[DICE_TYPE.red]"
          :negativeBonus="negativeBonus"
        />
        <DiceResult color="black" :rolls="rolls[DICE_TYPE.black]" />
        <DiceResult color="green" :rolls="rolls[DICE_TYPE.green]" />
        <DiceResult color="blue" :rolls="rolls[DICE_TYPE.blue]" />
        <DiceResult color="orange" :rolls="rolls[DICE_TYPE.orange]" />
      </div>
    </div>
  </ExpandableSection>
</template>

<style scoped lang="less">
@import "~Style/colors.less";
.dice-icon {
  height: 3rem;
  width: 3rem;
  &-small {
    height: 2rem;
    width: 2rem;
  }
}

.dice-roller-view {
  text-align: center;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
}

.roll-result {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.roll-results {
  // overflow-y: auto;
  flex-grow: 1;
  margin: 0.5rem;
}

.transparent {
  * > {
    opacity: 0.3;
  }
}

.result-summary-item {
  font-size: 2rem;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.result-summary {
  color: @color-text;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  pre {
    margin: 0;
    margin-left: 10px;
  }
}
</style>
