<script lang="ts">
import Vue from "vue"
import { Component, Prop } from "vue-property-decorator"

import {
  ExpandableSection,
  EXPANDER_SLOT,
} from "@/components/ExpandableSection.vue"
import { DiceModifier } from "src/components/diceRoller/DiceModifier.vue"

import { TDiceConfigLog } from "@/dice/diceTypes"

@Component({
  components: {
    ExpandableSection,
    DiceModifier,
  },
})
export class ModifiersSection extends Vue {
  @Prop({ required: true }) diceLog!: TDiceConfigLog | null

  SLOT = EXPANDER_SLOT

  get diceLogFiltered() {
    return (
      this.diceLog?.filter((l) => {
        return !!l.modifier
      }) || []
    )
  }
}

export default ModifiersSection
</script>

<template>
  <!-- Modifiers -->
  <ExpandableSection
    v-if="diceLogFiltered.length"
    saveStateId="dice-log"
    :defaultOpen="true"
  >
    <template :slot="SLOT.header_center">
      <div class="font-small">Modifiers</div>
    </template>

    <div class="modifiers">
      <DiceModifier
        v-for="(entry, index) in diceLogFiltered"
        :key="index + entry.id"
        :entry="entry"
      />
    </div>
    <!-- <pre v-if="$DEBUG">{{ JSON.stringify(diceLog, null, 2) }}</pre> -->
  </ExpandableSection>
</template>

<style lang="less" scoped>
.modifiers {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  * > {
    flex: 1 0 40%;
    // flex: 1 0 100%;
    margin-bottom: 0.5rem;
  }
}
</style>
