<script lang="ts">
// TODO: Look into http://youmightnotneedjs.com/#tabs for tabs
import Vue from "vue"
import { Component, Prop } from "vue-property-decorator"

import Modal from "@/components/Modal.vue"
import FLButton from "@/components/base/FLButton.vue"
import { Item } from "@/data/items/itemTypes"
import ItemTemplatePicker from "@/components/gear/ItemTemplatePicker.vue"
import TabBar from "@/components/base/TabBar.vue"

import { makeTempItem } from "./itemUtil"
import { ItemForm } from "./ItemForm.vue"

@Component({
  components: {
    FLButton,
    ItemTemplatePicker,
    Modal,
    TabBar,
    ItemForm,
  },
})
export class ModalEditItem extends Vue {
  @Prop() editItem!: Item
  @Prop({ default: "" }) title!: string

  tmpGear: Item = makeTempItem(this.editItem)

  save() {
    if (!this.tmpGear.name) {
      this.tmpGear.name = "???"
    }
    this.$emit("save", this.tmpGear)
  }

  close() {
    this.$emit("close")
  }
}

export default ModalEditItem
</script>

<template>
  <Modal
    class="inventory-modal"
    @close="close"
    :maximized="true"
    :title="title"
  >
    <div slot="body" class="modal-body">
      <!-- Item detail view -->
      <ItemForm :item="tmpGear" />
    </div>

    <div class="modal-button-row" slot="footer">
      <FLButton @click="close" type="cancel">
        {{ $t("Cancel") }}
      </FLButton>
      <FLButton :disabled="false" @click="save">OK</FLButton>
    </div>

    <!-- spacer -->
  </Modal>
</template>

<style lang="less" scoped>
@import "~Style/colors.less";
.modal-body {
  overflow: auto;
  text-align: left;
  max-width: 70rem;
  padding: 1rem;
  margin: 1rem auto;
}

.modal-button-row {
  border-top: solid @pastel-green 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.inventory-modal {
  margin: 0 auto;
}
</style>
