<script lang="ts">
// TODO: Look into http://youmightnotneedjs.com/#tabs for tabs
import Vue from "vue"
import { Component, Prop } from "vue-property-decorator"

import uuid1 from "uuid/v1"
import Modal from "@/components/Modal.vue"
import FLButton from "@/components/base/FLButton.vue"
import { Item } from "@/data/items/itemTypes"
import ItemTemplatePicker from "@/components/gear/ItemTemplatePicker.vue"
import TabBar from "@/components/base/TabBar.vue"

import { defaultItem, makeTempItem } from "./itemUtil"
import { ItemForm } from "./ItemForm.vue"

@Component({
  components: {
    FLButton,
    ItemTemplatePicker,
    Modal,
    TabBar,
    ItemForm,
  },
})
export class ModalAddItem extends Vue {
  @Prop({ default: "" }) title!: string

  tmpGear: Item = defaultItem()

  save() {
    if (!this.tmpGear.name) {
      this.tmpGear.name = "???"
    }
    this.$emit("add-item", this.tmpGear)
  }

  close() {
    this.$emit("close")
  }

  // FIXME: Look into using tabindex instead of a potpurri of booleans
  templateActive = true
  newActive = !this.templateActive
  showTemplate() {
    this.newActive = false
    this.templateActive = true
  }
  showNew() {
    this.newActive = true
    this.templateActive = false
  }

  onTemplatePicked(item: Item) {
    this.tmpGear = makeTempItem({ ...item, id: uuid1() })
    this.showNew()
    this.tabIndex = 1
  }

  tabIndex = 0
  onTabClicked(index: number) {
    this.tabIndex = index
  }

  get tabButtons() {
    return [
      {
        name: this.$t("Template"),
        onClick: () => {
          this.showTemplate()
        },
      },
      {
        name: this.$t("Details"),
        onClick: () => {
          this.showNew()
        },
      },
    ]
  }
}

export default ModalAddItem
</script>

<template>
  <Modal
    class="inventory-modal"
    @close="close"
    :maximized="true"
    :title="title"
  >
    <div slot="header" class="item-modal-header">
      <TabBar
        :buttons="tabButtons"
        @tab-active="onTabClicked"
        :currentTabIndex="tabIndex"
      />
    </div>
    <div slot="body" class="modal-body">
      <!-- Template view -->
      <ItemTemplatePicker
        v-if="templateActive"
        @template-picked="onTemplatePicked"
      />

      <!-- Item detail view -->
      <ItemForm v-if="newActive" :item="tmpGear" />
    </div>

    <div class="modal-button-row" slot="footer">
      <FLButton @click="close" type="cancel">
        {{ $t("Cancel") }}
      </FLButton>
      <FLButton :disabled="!newActive" @click="save">OK</FLButton>
    </div>

    <!-- spacer -->
  </Modal>
</template>

<style lang="less" scoped>
@import "~Style/colors.less";
.modal-body {
  overflow: auto;
  text-align: left;
  max-width: 70rem;
  padding: 1rem;
  margin: 1rem auto;
}

.modal-button-row {
  border-top: solid @pastel-green 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.inventory-modal {
  margin: 0 auto;
}
</style>
