<script lang="ts">
import { Component, Vue } from "vue-property-decorator"
import { MULTIPLAY_KEY } from "src/util/const"
import LocaleChanger from "@/components/LocaleChanger.vue"
import { APP_VERSION } from "src/util/const"

@Component({
  components: {
    LocaleChanger,
  },
})
export class NavContent extends Vue {
  buildVersion = APP_VERSION
  get multiplayEnabled() {
    return !!localStorage.getItem(MULTIPLAY_KEY)
  }
}

export default NavContent
</script>

<template>
  <nav class="Box-SideNav">
    <section class="Box-NavContent">
      <div class="route-links" @click="$emit('close')">
        <router-link to="/" exact>{{ $t("Characters") }}</router-link>
        <router-link v-if="multiplayEnabled" to="/multiplayer" exact>
          {{ $t("Multiplay") + " (beta)" }}
        </router-link>
        <router-link to="/options">
          {{ $t("Options") }}
        </router-link>
        <router-link to="/sandbox" exact v-if="$debugMode">
          Sandbox
        </router-link>
        <router-link to="/dice">{{ $t("Dice") }}</router-link>
        <router-link to="/about">{{ $t("About") }}</router-link>
      </div>
    </section>

    <section class="locale-section">
      <LocaleChanger />
    </section>
  </nav>
</template>

<style lang="less" scoped>
@import "~Style/colors.less";
.Box-SideNav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.Box-NavContent {
  flex: 1;
  padding: 0 0.4rem;

  a {
    font-weight: bold;
    color: @color-text;
    text-decoration: none;
    &.router-link-active {
      color: @color-main;
    }
  }

  .route-links {
    display: grid;
    grid-gap: 0.75rem;
  }
}

.nav-content {
  flex-grow: 1;
}

.locale-section {
  font-size: 1rem;
}
</style>
